[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "lanisapi"
version = "0.4.1"
authors = [
    { name = "kurwjan" }
]
description = "A unofficial python api for Lanis."
keywords = [
    "Lanis",
    "SPH",
    "Schulportal Hessen",
    "Hessen",
    "API"
]
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Natural Language :: German"
]
dependencies = [
    "httpx",
    "selectolax",
    "pycryptodomex",
    "py-machineid"
]

[project.urls]
"Homepage" = "https://github.com/kurwjan/LanisAPI"
"Bug Tracker" = "https://github.com/kurwjan/LanisAPI/issues"
"Documentation" = "https://lanisapi.readthedocs.io/"

[tool.ruff]
# Enable Pyflakes (`F`) and a subset of the pycodestyle (`E`)  codes by default.
# Unlike Flake8, Ruff doesn't enable pycodestyle warnings (`W`) or
# McCabe complexity (`C901`) by default.
select = ["F","E","W","C901","I","N","D","DTZ","RET","SIM","RSE","Q","ICN","EM","PIE","LOG","ANN","B"]
ignore = ["DTZ007","DTZ011","ANN101","ANN102","D416","D404","F405"]

# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []

# Exclude a variety of commonly ignored directories.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "venv",
]
per-file-ignores = {}

# Same as Black.
line-length = 300

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

# Assume Python 3.11
target-version = "py311"

[tool.ruff.lint.pycodestyle]
ignore-overlong-task-comments = true
